.confirm-dialog-container {
  text-align: center;
  padding: 1rem;
}

.dialog-title {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.dialog-content {
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

.dialog-actions {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
